In [1]:
#This is the starter notebook
import pandas as pd

'countyinflow1718.csv'

county_inflow = 'countyinflow1718.csv'

county_outflow = 'countyoutflow1718.csv'

# Read Purchasing File and store into Pandas data frame
outflow_df = pd.read_csv(county_outflow)

inflow_df = pd.read_csv(county_inflow)

#outflow_df = outflow_df[outflow_df['y2_countyname'].str.contains('County Non-migrants','County Total Migration-US and Foreign')]

inflow_df = inflow_df[inflow_df['y1_countyname'].str.contains('County Non-migrants') | inflow_df['y1_countyname'].str.contains('County Total Migration-US and Foreign')]

outflow_df = outflow_df[outflow_df['y2_countyname'].str.contains('County Non-migrants') | outflow_df['y2_countyname'].str.contains('County Total Migration-US and Foreign')]

outflow_df = outflow_df.rename(columns = {"y2_countyname":"outflow_county","y2_state":"outflow_state","n1":"outflow_n1","n2":"outflow_n2","agi_x":"outflow_agi"})


inflow_df = inflow_df.rename(columns = {"y1_countyname":"inflow_county","y1_state":"inflow_state","n1":"inflow_n1","n2":"inflow_n2","agi_y":"inflow_agi"})

county_in_out_df = pd.merge(outflow_df,inflow_df,left_on=["outflow_state","outflow_county"],right_on=["inflow_state","inflow_county"])

del county_in_out_df['y1_statefips_x']

del county_in_out_df['y1_countyfips_x']

del county_in_out_df['y2_statefips_x']

del county_in_out_df['y2_countyfips_x']

del county_in_out_df['y2_statefips_y']

del county_in_out_df['y2_countyfips_y']

del county_in_out_df['y1_statefips_y']

del county_in_out_df['y1_countyfips_y']

county_in_out_df

,outflow_state,outflow_county,outflow_n1,outflow_n2,agi_x,inflow_state,inflow_county,inflow_n1,inflow_n2,agi_y
0,AL,Autauga County Total Migration-US and Foreign,1888,4179,99955,AL,Autauga County Total Migration-US and Foreign,1925,4386,100564
1,AL,Autauga County Non-migrants,18028,41008,1143227,AL,Autauga County Non-migrants,18028,41008,1143227
2,AL,Baldwin County Total Migration-US and Foreign,4609,8640,238893,AL,Baldwin County Total Migration-US and Foreign,6818,13693,491043
3,AL,Baldwin County Non-migrants,73765,158376,5421048,AL,Baldwin County Non-migrants,73765,158376,5421048
4,AL,Barbour County Total Migration-US and Foreign,445,914,16473,AL,Barbour County Total Migration-US and Foreign,389,839,15215
...,...,...,...,...,...,...,...,...,...,...
6007,WY,Uinta County Non-migrants,7077,17251,509964,WY,Uinta County Non-migrants,7077,17251,509964
6008,WY,Washakie County Total Migration-US and Foreign,180,350,7868,WY,Washakie County Total Migration-US and Foreign,162,351,8388
6009,WY,Washakie County Non-migrants,2875,6375,193724,WY,Washakie County Non-migrants,2875,6375,193724
6010,WY,Weston County Total Migration-US and Foreign,162,328,8110,WY,Weston County Total Migration-US and Foreign,155,313,8083
6011,WY,Weston County Non-migrants,2488,5306,158856,WY,Weston County Non-migrants,2488,5306,158856

In [18]:
happy = county_in_out_df[county_in_out_df['outflow_county'].str.contains("Non-migrants")]
happy = happy.reset_index()
happy

,index,outflow_state,outflow_county,outflow_n1,outflow_n2,agi_x,inflow_state,inflow_county,inflow_n1,inflow_n2,agi_y
0,1,AL,Autauga County Non-migrants,18028,41008,1143227,AL,Autauga County Non-migrants,18028,41008,1143227
1,3,AL,Baldwin County Non-migrants,73765,158376,5421048,AL,Baldwin County Non-migrants,73765,158376,5421048
2,5,AL,Barbour County Non-migrants,7176,15417,322664,AL,Barbour County Non-migrants,7176,15417,322664
3,7,AL,Bibb County Non-migrants,6054,14005,332129,AL,Bibb County Non-migrants,6054,14005,332129
4,9,AL,Blount County Non-migrants,17300,41284,982763,AL,Blount County Non-migrants,17300,41284,982763
...,...,...,...,...,...,...,...,...,...,...,...
3001,6003,WY,Sweetwater County Non-migrants,15417,34982,1216231,WY,Sweetwater County Non-migrants,15417,34982,1216231
3002,6005,WY,Teton County Non-migrants,10727,21227,3408826,WY,Teton County Non-migrants,10727,21227,3408826
3003,6007,WY,Uinta County Non-migrants,7077,17251,509964,WY,Uinta County Non-migrants,7077,17251,509964
3004,6009,WY,Washakie County Non-migrants,2875,6375,193724,WY,Washakie County Non-migrants,2875,6375,193724
3005,6011,WY,Weston County Non-migrants,2488,5306,158856,WY,Weston County Non-migrants,2488,5306,158856

In [19]:
happy2 = county_in_out_df[county_in_out_df['outflow_county'].str.contains('US and Foreign')]
happy2 = happy2.reset_index()
happy2

,index,outflow_state,outflow_county,outflow_n1,outflow_n2,agi_x,inflow_state,inflow_county,inflow_n1,inflow_n2,agi_y
0,0,AL,Autauga County Total Migration-US and Foreign,1888,4179,99955,AL,Autauga County Total Migration-US and Foreign,1925,4386,100564
1,2,AL,Baldwin County Total Migration-US and Foreign,4609,8640,238893,AL,Baldwin County Total Migration-US and Foreign,6818,13693,491043
2,4,AL,Barbour County Total Migration-US and Foreign,445,914,16473,AL,Barbour County Total Migration-US and Foreign,389,839,15215
3,6,AL,Bibb County Total Migration-US and Foreign,450,954,18686,AL,Bibb County Total Migration-US and Foreign,376,856,15189
4,8,AL,Blount County Total Migration-US and Foreign,1148,2459,51327,AL,Blount County Total Migration-US and Foreign,1211,2482,52661
...,...,...,...,...,...,...,...,...,...,...,...
3001,6002,WY,Sweetwater County Total Migration-US and Foreign,1084,2322,71652,WY,Sweetwater County Total Migration-US and Foreign,834,1755,43730
3002,6004,WY,Teton County Total Migration-US and Foreign,1218,1951,109912,WY,Teton County Total Migration-US and Foreign,1188,1798,212532
3003,6006,WY,Uinta County Total Migration-US and Foreign,485,1033,31788,WY,Uinta County Total Migration-US and Foreign,441,959,22104
3004,6008,WY,Washakie County Total Migration-US and Foreign,180,350,7868,WY,Washakie County Total Migration-US and Foreign,162,351,8388
3005,6010,WY,Weston County Total Migration-US and Foreign,162,328,8110,WY,Weston County Total Migration-US and Foreign,155,313,8083

In [60]:
# Merge two Dataframes on index of both the dataframes
final = happy.merge(happy2, left_index=True, right_index=True)
final.head()

,index_x,outflow_state_x,outflow_county_x,outflow_n1_x,outflow_n2_x,agi_x_x,inflow_state_x,inflow_county_x,inflow_n1_x,inflow_n2_x,...,outflow_state_y,outflow_county_y,outflow_n1_y,outflow_n2_y,agi_x_y,inflow_state_y,inflow_county_y,inflow_n1_y,inflow_n2_y,agi_y_y
0,1,AL,Autauga County Non-migrants,18028,41008,1143227,AL,Autauga County Non-migrants,18028,41008,...,AL,Autauga County Total Migration-US and Foreign,1888,4179,99955,AL,Autauga County Total Migration-US and Foreign,1925,4386,100564
1,3,AL,Baldwin County Non-migrants,73765,158376,5421048,AL,Baldwin County Non-migrants,73765,158376,...,AL,Baldwin County Total Migration-US and Foreign,4609,8640,238893,AL,Baldwin County Total Migration-US and Foreign,6818,13693,491043
2,5,AL,Barbour County Non-migrants,7176,15417,322664,AL,Barbour County Non-migrants,7176,15417,...,AL,Barbour County Total Migration-US and Foreign,445,914,16473,AL,Barbour County Total Migration-US and Foreign,389,839,15215
3,7,AL,Bibb County Non-migrants,6054,14005,332129,AL,Bibb County Non-migrants,6054,14005,...,AL,Bibb County Total Migration-US and Foreign,450,954,18686,AL,Bibb County Total Migration-US and Foreign,376,856,15189
4,9,AL,Blount County Non-migrants,17300,41284,982763,AL,Blount County Non-migrants,17300,41284,...,AL,Blount County Total Migration-US and Foreign,1148,2459,51327,AL,Blount County Total Migration-US and Foreign,1211,2482,52661

In [61]:
final = final.drop(columns=['index_x', 'outflow_state_x', 'outflow_county_x', 'outflow_n1_x', 'outflow_n2_x', 'agi_x_x', 'index_y',
                   'outflow_state_y', 'outflow_county_y', 'inflow_state_y', 'inflow_county_y', 'inflow_n2_x', 'outflow_n2_y', 'inflow_n2_y'])
final

,inflow_state_x,inflow_county_x,inflow_n1_x,agi_y_x,outflow_n1_y,agi_x_y,inflow_n1_y,agi_y_y
0,AL,Autauga County Non-migrants,18028,1143227,1888,99955,1925,100564
1,AL,Baldwin County Non-migrants,73765,5421048,4609,238893,6818,491043
2,AL,Barbour County Non-migrants,7176,322664,445,16473,389,15215
3,AL,Bibb County Non-migrants,6054,332129,450,18686,376,15189
4,AL,Blount County Non-migrants,17300,982763,1148,51327,1211,52661
...,...,...,...,...,...,...,...,...
3001,WY,Sweetwater County Non-migrants,15417,1216231,1084,71652,834,43730
3002,WY,Teton County Non-migrants,10727,3408826,1218,109912,1188,212532
3003,WY,Uinta County Non-migrants,7077,509964,485,31788,441,22104
3004,WY,Washakie County Non-migrants,2875,193724,180,7868,162,8388
3005,WY,Weston County Non-migrants,2488,158856,162,8110,155,8083

In [62]:
final['inflow_county_x'] = final['inflow_county_x'].str.rstrip('Non-migrants')
final

,inflow_state_x,inflow_county_x,inflow_n1_x,agi_y_x,outflow_n1_y,agi_x_y,inflow_n1_y,agi_y_y
0,AL,Autauga County,18028,1143227,1888,99955,1925,100564
1,AL,Baldwin County,73765,5421048,4609,238893,6818,491043
2,AL,Barbour County,7176,322664,445,16473,389,15215
3,AL,Bibb County,6054,332129,450,18686,376,15189
4,AL,Blount County,17300,982763,1148,51327,1211,52661
...,...,...,...,...,...,...,...,...
3001,WY,Sweetwater County,15417,1216231,1084,71652,834,43730
3002,WY,Teton County,10727,3408826,1218,109912,1188,212532
3003,WY,Uinta County,7077,509964,485,31788,441,22104
3004,WY,Washakie County,2875,193724,180,7868,162,8388
3005,WY,Weston County,2488,158856,162,8110,155,8083

In [66]:
final = final.rename(columns={'inflow_state_x': 'State', 'inflow_county_x': 'County', 'inflow_n1_x': 'Returns Total', 
                             'agi_y_x': 'Total AGI', 'outflow_n1_y': 'Outflow', 'agi_x_y': 'Outflow AGI',
                             'inflow_n1_y': 'Inflow', 'agi_y_y': 'Inflow AGI'})
final

,State,County,Returns Total,Total AGI,Outflow,Outflow AGI,Inflow,Inflow AGI
0,AL,Autauga County,18028,1143227,1888,99955,1925,100564
1,AL,Baldwin County,73765,5421048,4609,238893,6818,491043
2,AL,Barbour County,7176,322664,445,16473,389,15215
3,AL,Bibb County,6054,332129,450,18686,376,15189
4,AL,Blount County,17300,982763,1148,51327,1211,52661
...,...,...,...,...,...,...,...,...
3001,WY,Sweetwater County,15417,1216231,1084,71652,834,43730
3002,WY,Teton County,10727,3408826,1218,109912,1188,212532
3003,WY,Uinta County,7077,509964,485,31788,441,22104
3004,WY,Washakie County,2875,193724,180,7868,162,8388
3005,WY,Weston County,2488,158856,162,8110,155,8083

In [71]:
#df['Col3'] = (df['Col2'] <= 1).astype(int)
final['Net Inflow(Outflow)'] = (final['Inflow'] - final['Outflow']).astype(int)
final

,State,County,Returns Total,Total AGI,Outflow,Outflow AGI,Inflow,Inflow AGI,Net Inflow(Outflow)
0,AL,Autauga County,18028,1143227,1888,99955,1925,100564,37
1,AL,Baldwin County,73765,5421048,4609,238893,6818,491043,2209
2,AL,Barbour County,7176,322664,445,16473,389,15215,-56
3,AL,Bibb County,6054,332129,450,18686,376,15189,-74
4,AL,Blount County,17300,982763,1148,51327,1211,52661,63
...,...,...,...,...,...,...,...,...,...
3001,WY,Sweetwater County,15417,1216231,1084,71652,834,43730,-250
3002,WY,Teton County,10727,3408826,1218,109912,1188,212532,-30
3003,WY,Uinta County,7077,509964,485,31788,441,22104,-44
3004,WY,Washakie County,2875,193724,180,7868,162,8388,-18
3005,WY,Weston County,2488,158856,162,8110,155,8083,-7

In [78]:
final['Percentage Flow'] = (final['Net Inflow(Outflow)'] / final['Returns Total']).astype(float)
final

,State,County,Returns Total,Total AGI,Outflow,Outflow AGI,Inflow,Inflow AGI,Net Inflow(Outflow),Percentage Flow
0,AL,Autauga County,18028,1143227,1888,99955,1925,100564,37,0.002052
1,AL,Baldwin County,73765,5421048,4609,238893,6818,491043,2209,0.029946
2,AL,Barbour County,7176,322664,445,16473,389,15215,-56,-0.007804
3,AL,Bibb County,6054,332129,450,18686,376,15189,-74,-0.012223
4,AL,Blount County,17300,982763,1148,51327,1211,52661,63,0.003642
...,...,...,...,...,...,...,...,...,...,...
3001,WY,Sweetwater County,15417,1216231,1084,71652,834,43730,-250,-0.016216
3002,WY,Teton County,10727,3408826,1218,109912,1188,212532,-30,-0.002797
3003,WY,Uinta County,7077,509964,485,31788,441,22104,-44,-0.006217
3004,WY,Washakie County,2875,193724,180,7868,162,8388,-18,-0.006261
3005,WY,Weston County,2488,158856,162,8110,155,8083,-7,-0.002814

In [86]:
final = final.sort_values(by=['Percentage Flow'], ascending=False)
final.head(20)

,State,County,Returns Total,Total AGI,Outflow,Outflow AGI,Inflow,Inflow AGI,Net Inflow(Outflow),Percentage Flow
1655,NV,Eureka County,556,38167,26,2961,78,4974,52,0.093525
1602,NE,Hooker County,279,10670,-1,-1,21,874,22,0.078853
1918,ND,McKenzie County,3461,464151,575,46125,837,52025,262,0.075701
255,CO,Mineral County,324,21265,-1,-1,22,1256,23,0.070988
1944,ND,Williams County,12437,1217462,1644,112302,2504,137024,860,0.069149
1801,NC,Brunswick County,47066,3211054,3326,175906,6105,530642,2779,0.059045
2470,TX,Comal County,49749,4841034,5072,343378,7990,643962,2918,0.058654
2553,TX,Kaufman County,40842,2771282,4100,223030,6450,352451,2350,0.057539
349,FL,Sumter County,48310,3902622,3477,206987,6242,532865,2765,0.057235
1661,NV,Nye County,14356,776985,1233,58992,2032,112840,799,0.055656
1529,MT,Madison County,3099,194265,235,11423,404,32544,169,0.054534
2297,SD,Hyde County,518,26382,-1,-1,27,964,28,0.054054
562,ID,Valley County,4068,288217,386,19540,605,47871,219,0.053835
1663,NV,Storey County,1489,103314,161,7260,240,20234,79,0.053056
521,ID,Adams County,1405,69954,124,6432,194,10723,70,0.049822
500,GA,Union County,8034,442940,543,26117,942,61492,399,0.049664
1654,NV,Esmeralda County,283,14434,26,956,40,1816,14,0.049470
355,FL,Walton County,22754,2439457,2366,234757,3451,469223,1085,0.047684
1526,MT,Liberty County,765,33614,-1,-1,34,604,35,0.045752
2294,SD,Harding County,503,32179,-1,-1,22,699,23,0.045726

In [87]:
final.to_csv('final_data.csv', index=False)