In [2]:
### Dependencies and Setup
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy import stats
from scipy.stats import linregress
import gmaps
import os
import json
import pprint as pprint

#import api key
from api_keys import gmaps_api_key
print(gmaps_api_key)

AIzaSyDgq1kd-G8KwKzg2-Cu7AnZUwcE1VsQ6HU

In [3]:
#read in the csv file from flow data file
location_data = pd.read_csv('final_data.csv')

In [4]:
location_data.head()

,State,County,Returns Total,Total AGI,Outflow,Outflow AGI,Inflow,Inflow AGI,Net Inflow(Outflow),Percentage Flow
0,NV,Eureka County,556,38167,26,2961,78,4974,52,0.093525
1,NE,Hooker County,279,10670,-1,-1,21,874,22,0.078853
2,ND,McKenzie County,3461,464151,575,46125,837,52025,262,0.075701
3,CO,Mineral County,324,21265,-1,-1,22,1256,23,0.070988
4,ND,Williams County,12437,1217462,1644,112302,2504,137024,860,0.069149

In [6]:
#pull in api key
gmaps.configure(api_key=gmaps_api_key)

In [8]:
counties = location_data[['County']]
counties

                County
0       Eureka County
1       Hooker County
2     McKenzie County
3      Mineral County
4     Williams County
...                ...
3001   Roberts County
3002  Treasure County
3003     Logan County
3004      Kent County
3005   Daggett County

[3006 rows x 1 columns]

In [9]:
#dictionary to update each iteration
params = {
    'radius': 41000,
    'types': 'lake',
    'keyword': 'lake',
    'key': gmaps_api_key
}

In [ ]:
#identify lake using county
for index, row in ideal_vacation.iterrows():
    lat = row['Latitude']
    lng = row['Longitude']
    
    #change location while leaving original parameters in place
    params['location'] = f'{lat},{lng}'
    
    #base url
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    #make request and print URL
    name_address = requests.get(base_url, params=params)
    
    #convert to json
    name_address = name_address.json()

    #try loop to skip rows with missing values
    try:
        ideal_vacation.loc[index, 'Hotel Name'] = name_address['results'][0]['name']
    except (KeyError, IndexError):
        print('Missing field/result... skipping.')