In [26]:
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy import stats
from scipy.stats import linregress
import gmaps
import os
import json
import pprint as pprint

parks_data = "nri-nationalregisterlisted20200108b.csv"

final_flow_data = "final_flow_data.csv"

final_flow_df = pd.read_csv(final_flow_data)

parks_df = pd.read_csv(parks_data)

parks_df

del parks_df['Status']
del parks_df['Listed Date']
del parks_df['NHL Designated Date']
del parks_df['Restricted Address']
del parks_df['Name of Multiple Property Listing']
del parks_df['Level of Significance - Local']
del parks_df['Level of Significance - State']
del parks_df['Level of Significance - National']
del parks_df['Other Names']
del parks_df['Ref#']
del parks_df['City ']
del parks_df['Street & Number']
del parks_df['Architects/Builders']
del parks_df['Federal Agencies']
del parks_df['Level of Significance - International']
del parks_df['Level of Significance - Not Indicated']
del parks_df['Significant Persons']
del parks_df['External Link']

historical_sites_df = parks_df.dropna(subset = ['County'])

national_parks_df = parks_df.dropna(subset = ['Park Name'])

historical_sites_df

,Property Name,State,ST_Abbrev,County,Park Name
0,Lassiter House,ALABAMA,AL,Autauga,NaN
1,Bell House,ALABAMA,AL,Autauga,NaN
2,Daniel Pratt Historic District,ALABAMA,AL,Autauga,NaN
3,Montgomery--Janes--Whittaker House,ALABAMA,AL,Autauga,NaN
4,Mount Sinai School,ALABAMA,AL,Autauga,NaN
...,...,...,...,...,...
95163,Jenney Stockade Site,WYOMING,WY,Weston,NaN
95164,Newcastle Commercial District,WYOMING,WY,Weston,NaN
95165,US Post Office--Newcastle Main,WYOMING,WY,Weston,NaN
95166,Weston County Courthouse,WYOMING,WY,Weston,NaN
95167,Wyoming Army National Guard Cavalry Stable,WYOMING,WY,Weston,NaN

In [15]:
historical_sites_df.to_csv('Historical_Sites.csv')

In [27]:
parks_df.to_csv('National_Parks.csv')